body {
    background-image: url("tlo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.ui-mobile .ui-page-active {
    background-image: url("tlo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.center-block {
  width: 50%;
  margin: 0 auto;
}
#restart{
    color: black;
    font-size: 21px;
    text-decoration: none;
    border: 2px solid;
    border-bottom-style: groove;
}
.rs{
    background-color: #239E01;
}